# for loops are so 2016

some List Comprehension examples from a few resources.<br/>
 * https://www.youtube.com/watch?v=3dt4OGnU5sM
 * https://www.youtube.com/watch?v=VBokjWj_cEA
 * http://treyhunner.com/2015/12/python-list-comprehensions-now-in-color/ 
 * http://pythoncentral.io/one-line-if-statement-in-python-ternary-conditional-operator/ 
      * ternary statements - onle line if statements

In [1]:
nums = [1,2,3,4,5,6,7,8,9,10]

start with a a list of numbers

In [2]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
import numpy as np

In [4]:
randomNums = np.random.randint(0, 10, 10)
print randomNums
# different set everytime!

[8 9 5 2 5 2 3 8 2 2]

some random numbers - use numpy.random.randint(start, end, howmany) <br/>
first you have to import the numpy library

#### first example put your set of numbers into another list

the "bad" way

In [5]:
a_list = []
for n in nums:
    a_list.append(n)
    
print a_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list comp looks cleaner is easier to read so they say. Notice that you don't need `.append` and don't neeed to set a initalize an empty list.

In [6]:
a_list = [n for n in nums]
print a_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### another example with `n*n`

for loop way

In [7]:
a_list2 = []
for n in nums:
    a_list2.append(n * n)
print a_list2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

list comp way

see the *action* of `n * n` comes first then for each thing in your list of things all enclosed with `[]`

In [8]:
a_list2 = [n * n for n in nums]
print a_list2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

map lambda way

In [9]:
a_list2 = map(lambda n: n * n ,nums)
print a_list2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### print number for each number if number is even

the bad way

In [10]:
a_list3 = []
for n in nums:
    if n % 2 == 0:
        a_list3.append(n)
print a_list3

[2, 4, 6, 8, 10]

the good way: list comprehension

first part is what you want to return n, but the condition of the even numbers is with the if statement. Kinda like the WHERE in SQL

In [11]:
a_list3 = [n for n in nums if n % 2 == 0]
print a_list3

[2, 4, 6, 8, 10]

filter lambda way:

### Filter

filter - pretty neat

In [12]:
a_list3lambda = filter(lambda n: n % 2 == 0, nums)
print a_list3lambda

[2, 4, 6, 8, 10]

#### print letter number pair in "abcd" and "1234" (all possible pairs)

for loop many line way

In [13]:
a_list4 = []
for letter in "abcd":
    for num in range(1,5):
        a_list4.append((letter,num))
print a_list4

[('a', 1), ('a', 2), ('a', 3), ('a', 4), ('b', 1), ('b', 2), ('b', 3), ('b', 4), ('c', 1), ('c', 2), ('c', 3), ('c', 4), ('d', 1), ('d', 2), ('d', 3), ('d', 4)]

list comp way: <br/>
want a letter and number pair for each abcd and with numbers from 1 to 5 <br/>
range works like range(start, end) but end is the number before

In [14]:
a_list4 = [(letter, number) for letter in "abcd" for number in range(1,6)]
print a_list4

[('a', 1), ('a', 2), ('a', 3), ('a', 4), ('a', 5), ('b', 1), ('b', 2), ('b', 3), ('b', 4), ('b', 5), ('c', 1), ('c', 2), ('c', 3), ('c', 4), ('c', 5), ('d', 1), ('d', 2), ('d', 3), ('d', 4), ('d', 5)]

### alright a step up - Dictionary Comprehension

superheroes!

**--The Dictionary--**

In [15]:
names = ["Bruce", "Clark", "Peter", "Logan", "David"]
heroes = ["Batman", "Superman", "Spiderman", "Wolverine", "Hulk"]
ages = [55, 200, 22, 1000, 40]
print zip(names, heroes, ages)

# zip!!!

[('Bruce', 'Batman', 55), ('Clark', 'Superman', 200), ('Peter', 'Spiderman', 22), ('Logan', 'Wolverine', 1000), ('David', 'Hulk', 40)]

the bad way:

In [16]:
a_dictionary = {}
for name, hero, in zip(names, heroes):
    a_dictionary[name] = hero
print "names heroes dictionary"
print a_dictionary

names heroes dictionary
{'Bruce': 'Batman', 'Logan': 'Wolverine', 'Peter': 'Spiderman', 'Clark': 'Superman', 'David': 'Hulk'}

Dictionary Comp notice the `{}`! this is different from list comp with lists with `[]`<br/>
* in the first part notice `*`**:**`*`  `{name : hero`
* `zip(key1, key2)}`

In [17]:
a_dictionary = {name: hero for name, hero in zip(names, heroes)}
print a_dictionary

{'Bruce': 'Batman', 'Logan': 'Wolverine', 'Peter': 'Spiderman', 'Clark': 'Superman', 'David': 'Hulk'}

can add an `if` statement to filter <br/>
here returned the age of Bruce

In [18]:
bruce_age = {name : age for name, age in zip(names, ages) if name == 'Bruce'}
print bruce_age

{'Bruce': 55}

the same thing again but with *Superhero Names* and *ages* <br/>
notice the two different to combine text and what values you are printing <br/>
* `{} with some text" then .format(funcName)` is for printing the function *within* some text 
* `some tex" then ,comma funcName` is for printing the function *after* some text. 
        * {} . format will always work

In [19]:
a_dicComp_age = {name : age for name, age in zip(names, ages)}
print "superhero ages: {}".format(a_dicComp_age)
print "superhero ages:", a_dicComp_age

superhero ages: {'Bruce': 55, 'Logan': 1000, 'Peter': 22, 'Clark': 200, 'David': 40}
superhero ages: {'Bruce': 55, 'Logan': 1000, 'Peter': 22, 'Clark': 200, 'David': 40}

### Dictionary

In [20]:
# pd.DataFrame(dictionary, index = range(5))
a_dictionary = dict(zip(names, heroes, ages))
print a_dictionary

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [3]:
columnA = pd.Series(["nameA", "nameB", "nameC", "nameD", "nameE"])
columnB = pd.Series(["lastA", "lastB", "lastC", "lastD", "lastE"])
columnC = pd.Series(["middleA", "middleB", "middleC", "middleD", "middleE"])
# but zip works here with a list of strings

#my_dictionary = {columnA : columnB for columnA, columnB in zip(columnA, columnB)}
# zip(seq1 [, seq2 [...]]) -> [(seq1[0], seq2[0] ...), (...)]
# my_dictionary2 = dict(zip(c

In [4]:
dic = {"columnA": columnA, "columnB" : columnB, "columnC": columnC}

In [5]:
import pandas as pd

In [8]:
dataframe = pd.DataFrame(dic)
dataframe

  columnA columnB  columnC
0   nameA   lastA  middleA
1   nameB   lastB  middleB
2   nameC   lastC  middleC
3   nameD   lastD  middleD
4   nameE   lastE  middleE

In [9]:
dataframe.dtypes

columnA    object
columnB    object
columnC    object
dtype: object

In [13]:
query = filter(lambda x: 'A' in x[0], columns)
print query

NameError: name 'columns' is not defined

In [1]:
import pandas as pd
# df = pd.DataFrame(a_dictionary)
# how do I turn a dictionary into a Data Frame??
# df = pd.DataFrame( objects )

## Enumerate

In [ ]:
for i, name in enumerate(names):
    print(i, name)

### More doing things to numbers

In [15]:
my_List = range(0,101)

In [16]:
print my_List

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

range works like `(start, end(n-1), step)` go from start to end by how many

In [ ]:
my_List_by2 = range(0,101, 2)
print my_List_by2
# if someone asks to return a list of even values from 0 to 100 - this does it!

but for random numbers though...

`random.randint()`

In [ ]:
random_Nums = np.random.randint(0, 101, 50)
print random_Nums

make functions to use again - to do do one list or to another list - to do the same action

In [ ]:
def timesIT (parameter, List):
    return [parameter * num for num in List]
print timesIT(.5, my_List)

In [ ]:
print timesIT(.5, my_List_by2)

In [ ]:
print timesIT(.5, random_Nums)

In [ ]:
print timesIT(.2, my_List)

In [ ]:
print timesIT(1000, random_Nums)

Function - multiply all the numbers in your list by a parameter then filter by another parameter <br/>

In [17]:
def filtertimesIT(List, m, b):
    filterIT = [num for num in List if num > b]
    times = [m * num for num in filterIT]
    return times
print filtertimesIT(my_List, 2, 20)

[42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]